.footer-separator {
  width: 100vw;
  border-top: 1px solid #dee2e6;
}

footer {
  overflow-x: hidden;
}

.footer-bottom {
  border-top: 1px solid #dee2e6;
  padding-top: 1.5rem;
  margin-top: 2rem;
} 